<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p><%= msg %></a>
  <form method="post" action="/sample">
    <input type="text" name="input" value="<%= input %>">
    <input type="submit">
  </form>
</body>
</html>
